ion-content ion-toolbar {
  --background: translucent;
}

p{
  text-align: center;
  font-size: 10px;
  color: #a7a7a7;
}

ion-card-content{
  padding: 10px;
  
}
ion-card{
  border-radius: 5px;
  margin: 0.2em 0;
  padding: 0.5em;
  max-width: 50%;
  color: #a7a7a7;
  box-shadow: none !important;
}
ion-card-header{
  padding-top: 0px;
}
ion-card-title{
  font-size: 14px;
  float: left;
  margin-right: 5%;
  margin-bottom: 5px;
}
ion-card-subtitle{
  font-size: 10px;
  float: left;
  margin-right: 5%;
  color: rgb(119, 119, 119);
  clear: both;
} 


